<div class="relatorio">
    <div class="header-relatorios">
        <h2>Relatorios</h2>
    </div>

    <div class="tabela">
        <table>
            <thead>
            <th>Nome</th>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/Relatorios/Relatorio">Lista de relatorios</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>