<div class="campo-relatorio">
    <div class="header-relatorio">
        <h2>Relatorios</h2>
        <button onclick="print()" id="btnCadastrar">Imprimir</button>
    </div>

    <div class="tabela">
        <table>
            <thead>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Status</th>
            </thead>
            <tbody>
                <tr>
                    <td>Stephanie Nichols</td>
                    <td>stephanienichols@gmail.com</td>
                    <td>Ativo</td>
                </tr>

                <tr>
                    <td>Jeffrey Kane</td>
                    <td>jeffrey_kane@yahoo.com</td>
                    <td>Ativo</td>
                </tr>

                <tr>
                    <td>Darin Miller</td>
                    <td>darinmiller01@gmail.com</td>
                    <td>Ativo</td>
                </tr>

                <tr>
                    <td>Andrew Stuart</td>
                    <td>andrewstuart@outlook.com</td>
                    <td>Ativo</td>
                </tr>

                <tr>
                    <td>Valerie Aguilar</td>
                    <td>valerie_aguiler@gmail.com</td>
                    <td>Inativo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>