/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
/*Parametros padrão*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: #FFF8DA;
}

header {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
}

    header img {
        width: 150px;
        height: 150px;
        margin: auto;
        border-radius: 50%;
    }

#campo-form {
    width: 380px;
    background: #FFE096;
    text-align: center;
    border-radius: 5px;
    padding: 40px 30px 50px 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

    #campo-form header {
        font-size: 30px;
        font-weight: 700;
    }

    #campo-form form {
        margin: 40px 0px;
    }

form input {
    height: 50px;
    width: 100%;
    outline: none;
    padding: 0px 50px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #D35725;
    border-bottom-width: 2px;
}

form .campos.erros input {
    border-color: rgba(255, 0, 0, 0.700);
    ;
}

form input::placeholder {
    color: #D35725;
    font-size: 17px;
}

form .campos {
    width: 100%;
    margin-bottom: 20px;
}

    form .campos.shake {
        animation: shake 0.3s ease-in-out;
    }

/*Efeito shake*/

@keyframes shake {
    0%, 100% {
        margin-left: 0px;
    }

    20%, 80% {
        margin-left: -12px;
    }

    40%, 60% {
        margin-left: 12px;
    }
}

form .campos .area-input {
    position: relative;
}

form .campos span {
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}

form .campos .icone {
    left: 15px;
    color: #D35725;
}

form .campos .icone-erro {
    right: 15px;
    color: rgba(255, 0, 0, 0.700);
}

form .campos .erro-msg {
    margin-top: 5px;
    color: rgba(255, 0, 0, 0.700);
    text-align: left;
}

form .campos .erros {
    display: none;
}

    form .campos.erros .erros {
        display: block;
    }

form input[type="submit"] {
    margin-top: 30px;
    border: none;
    color: #FFF8DA;
    cursor: pointer;
    background-color: #FDB813;
    font-weight: 700;
}

    form input[type="submit"]:hover {
        background-color: #FFD160;
        color: #D35725;
    }
