<div class="home">
    <div id="cards">
        <section>
            <span class="infocard1">1258</span>
            <span class="infocard2">Total de cadastros</span>
        </section>
        <section>
            <span class="infocard1">320</span>
            <span class="infocard2">Cadastros no último mês </span>
        </section>
        <section>
            <span class="infocard1">46</span>
            <span class="infocard2">Cadastros com pendência de revisão</span>
        </section>
    </div>

    <div id="chome" class="tabela" id="tabelalista">
        <section>
            <table>
                <caption>Últimos cadastros</caption>
                <thead>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Status</th>
                </thead>
                <tbody>
                    @foreach (var colaborador in Model)
                    {
                        <tr>
                            <td>@colaborador.nomeColab</td>
                            <td>@colaborador.emailColab</td>
                            <td>Ativo</td>
                        </tr>
                    }

                </tbody>
            </table>
        </section>
    </div>
</div>