@model RF.Projeto03.UI.Models.LoginVM

@{
    Layout = "~/Views/Login/_LoginLayout.cshtml";
}

<div id="campo-form">
    <header><img src="~/IMG/logo.png" alt="logo"></header>
    <form class="loginform" id="loginform" method="post">
        <div class="campos email">
            <div class="area-input">
                @Html.TextBoxFor(m => m.email, new { placeholder = "Email", @Value = "", @class = "red" })
                <span class="icone material-symbols-outlined">mail</span>
                <span class="erros icone-erro material-symbols-outlined">error</span>
            </div>
        </div>
        <div class="campos senha">
            <div class="area-input">
                @Html.PasswordFor(m => m.senha, new { placeholder = "Senha", @Value = "", @class = "red" })
                <span class="icone material-symbols-outlined">lock</span>
                <span class="erros icone-erro material-symbols-outlined">error</span>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })<br/>
        @Html.ValidationMessageFor(m => m.senha, "", new { @class = "text-danger" })
        <input type="submit" value="Entrar">
    </form>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js" defer></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" defer></script>
}